*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppin', sans-serif ;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: block;
    overflow: hidden;
}

.card {
    width: 320px;
    height: 400px;
    background-color: #272d40;
    display: block;
    color: white;
    border-radius: 15px;
    margin:120px auto;
    position: relative;
    padding: 40px 20px;
}

.card .heart,
.card .cart {
    position: absolute;
    font-size: 25px;
    top: 16px;
    left: 16px;
    cursor: pointer;
}

.card .cart {
    right: 16px;
    left: unset;
}

.card-img {
    width: 90%;
    transition: 0.5s;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card .head,
.card .price {
    text-align: center;
    transition: 0.5s;
    padding: 4px;

}

.card .head {
    font-size: 24px;
    color:#4daf54;
    transition: 0.5s;
}

.card .price {
    font-size: 26px;
}

.container{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .size{
    display: flex;
    position: relative;
    margin-bottom: 16px;
}

.size h3{
    font-weight: unset;
    margin-right: 12px;
}
.size span{
    border: 1px solid black;
    background: #b8b5b5;
    padding: 2px 8px;
    border-radius: 4px;
    color: #272d40;
    margin: 0 5px;
    align-items: center;
    cursor: pointer;
}

.color {
    display: flex;
    margin-bottom: 26px;
}
.color h3{
    font-weight: unset;
    margin-right: 12px ;
}

.color span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.color .green{
    background-color: green;
}

.color .blue{
    background-color: blue;
}
.color .yellow{
    background-color: yellow;
}

.but .but-buy,
.but .but-cart {
    width: 90px;
    height: 32px;
    border-radius: 4px;
    background: #4daf54;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.but .but-buy {
    margin:0 6px 0 0;
}

 .but button:hover {
    transform: scale(0.8)
 }

 .card:hover .card-img{
    transform: translateY(-90px) rotate(-25deg);
    
 }

 .card:hover .head{
    transform: translate(-40px , -70px);
 }

 .card:hover .price{
    transform: translate(-117px , -70px);
 }

 .card:hover .container{
    opacity: 1;
    transform: translateY(-33px);
 }

 /* @keyframes identifier {
    from {
        bottom: 300px;
    }
    to {
        bottom: 0px;
    }
 } */